{% extends "home/base.html" %}

{% load static %}
{% block title %}<title>Project Wire</title>{% endblock %}
{% block breadcrumb %} / Wire Info{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-8">  
    <div class="card mb-3">
      <div class="card-header" style="background-color:rgb(10, 212, 26);">
        <h4>Wire - {{ wire_detail.wire }}
          {% if request.user.staff %}
            <div class="add_jobsite"><a href="{% url 'update-project-wire' pk=wire_detail.id %}"> edit </a></div>
          {% else %}
          {% endif %}</h4><b>Project:</b>&nbsp; <a href="{% url 'project-detail' wire_detail.project.job_num %}">{{ wire_detail.project.job_num }} - {{wire_detail.project.job_name}} </a>
      </div>
      <div class="form-group">
          <div class="form-row">
            <div class="col" style="margin-top: 10px;">
              <div class="form-row">
                &nbsp;<b>Wire:</b>&nbsp;{{ wire_detail.wire }}
              </div>
              {% if wire_detail.device.install_link %}
              <div class="form-row">
                &nbsp; <a href="{{ wire_detail.wire.pic_link }}">&nbsp;<img style="width:100%;" src="{{ wire_detail.wire.pic_link }}">  </a> 
              </div>
              {% endif %}
            </div>
            <div class="col" style="margin-top: 10px;">
              <div class="form-row">
                &nbsp;<b>Task:</b>&nbsp;{{ wire_detail.task }}
              </div>
              {% if wire_detail.device.install_link %}
              <div class="form-row">
                &nbsp; <a href="{{ wire_detail.wire.install_link }}">&nbsp;Installation Manuel</a>  
              </div>
              {% endif %}
            </div>
          </div>
          <hr>
          <div class="form-row">
            <div class="col" style="margin-top: 10px;">
              &nbsp;<b>Purchase date:</b>&nbsp;
                {{ wire_detail.purchased_date|date:"Y-m-d" }}
            </div>
            <div class="col" style="margin-top: 10px;">
              &nbsp;<b>Onsite date:</b>&nbsp;
                {{ wire_detail.onsite_date|date:"Y-m-d" }}
            </div>
            <div class="col" style="margin-top: 10px;">
              &nbsp;<b>Installed date:</b>&nbsp;
                {{ wire_detail.installed_date|date:"Y-m-d" }}
          </div>
        </div>
        <div class="form-group">
          <div class="form-row">
            <div class="col" style="margin-top: 10px;">
            &nbsp;<b>Lenght:</b>&nbsp;
              {{ wire_detail.length }}</div>
          </div>
          <div class="form-row">
            <div class="col" style="margin-top: 10px;">
            &nbsp;<b>Cost per foot:</b>&nbsp;
              {{ wire_detail.cost_per_foot }}</div>
          </div>
          <div class="form-row">
            <div class="col" style="margin-top: 10px;">
            &nbsp;<b>Total:</b>&nbsp;
              {{ wire_detail.total }}</div>
          </div>
          <div class="form-row">
            <div class="col" style="margin-top: 10px;">
            &nbsp;<b>Wire Status:</b>&nbsp;
            {{ wire_detail.get_wire_status_display }}</div>
          </div>
          <div class="form-row">
            <div class="col" style="margin-top: 10px;">
            &nbsp;<b>Last modified:</b>&nbsp;
            {{ wire_detail.lastmodification }}</div>
          </div>
          <div class="form-row">
            <div class="col" style="margin-top: 10px;">
            &nbsp;<b>Date of creation:</b>&nbsp;
            {{ wire_detail.dateofcreation }}</div>
          </div>
        </div>
        <div class="form-group">
          <div class="form-row">
            <div class="col" style="margin-top: 10px;">
            &nbsp;<b>Distributor:</b>&nbsp;
              {% for distributer in wire_detail.wire.dist.all %}
                {{ distributer.name }} -
              {% endfor %}</div>
          </div>
          <div class="form-row">
            <div class="col" style="margin-top: 10px;">
            &nbsp;<b>Manufacturer:</b>&nbsp;
              {{ wire_detail.wire.dmfg }}</div>
          </div>
          <div class="form-row">
            <div class="col" style="margin-top: 10px;">
            &nbsp;<b>Overview:</b>&nbsp;
              {{ wire_detail.wire.overview }}</div>
          </div>
          <div class="form-row">
            <div class="col" style="margin-top: 10px;">
            &nbsp;<b>Specifications:</b>&nbsp;
              {{ wire_detail.wire.specifications }}</div>
          </div>
        </div>
    </div>
  </div>
</div>
  <div class="col-lg-4">
    <div class="card mb-3">
      <div class="card-header" style="background-color:rgb(0, 119, 255);">
        <h3>Project Wire
          {% if request.user.staff %}
            <div class="add_jobsite"><a href="{% url 'create-project-wire' proj=wire_detail.project.job_num tas=0 %}">add</a></div>
          {% else %}
          {% endif %}
        </h3>
      </div>
      <div class="card-body bg-faded">
        {% if other_wires %}
        <ul>
          {% for others in other_wires %}
            <li><a href="{% url 'project-wire-detail' id=others.pk %}"> {{ others.wire.part_disc }} </a></li>
          {% endfor %}
        {% else %}
          <p>There are no wires for this project, please add one.</p>
        {% endif %}
        </ul>
      </div>
    </div>
  </div>
</div>


{% endblock %}

{% block scripter %} 
<script src="{% static 'home/js/sb-admin-datatables.min.js' %}"></script>
<script src="{% static 'home/vendor/datatables/jquery.dataTables.js' %}"></script>
<script src="{% static 'home/vendor/datatables/dataTables.bootstrap4.js' %}"></script> 
{% endblock %}
