{% extends 'home/base.html' %}
{% load static %}
{% block scripter %}
    <script src="{% static 'home/js/albumplayer.js' %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}
{% block title %}<title id="songTitle2">Home of da Lab Munkz Music</title>{% endblock %}
{% block content %}
<header class="header">
    <!-- The social media icon bar -->
    <div class="icon-bar">
        <a href="https://www.facebook.com/LABMUNKZink" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a>
        <a href="https://twitter.com/HHCultureOrg" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a>
        <a href="https://www.tiktok.com/@hiphopculturedotorg" target="_blank" class="tiktok"><i class="fa fa-tiktok"></i></a>
        <a href="https://www.instagram.com/wwwlabmunkzartcom/" target="_blank" class="instagram"><i class="fa fa-linkedin"></i></a>    
        <a href="https://www.youtube.com/channel/UCZp7m-ZslYaYGN4zbYW9qcA" target="_blank" class="youtube"><i class="fa fa-youtube"></i></a>
        <a href="https://itunes.apple.com/us/artist/labmunkzink/id1086239160" target="_blank" class="twitter"><i class="fab fa-itunes"></i></a></li>
        <a href="https://open.spotify.com/artist/7INHTJTpRjrNg6RpCFvSRW" target="_blank" class="spotify"><i class="fab fa-spotify"></i></a></li>
        <a href="https://www.roblox.com/catalog/120626848945926/Robo-Magic-Longsleeve" target="_blank" class="roblox"><i class="fab fa-roblox"></i>DrRoblox</a></li>
    </div>
    <div class="logo">
        <a href="https://labmunkzink.com/admin/"><img src="{% static '/home/images/LMNlogo.jpg' %}" alt="Logo Lab Munkz Header"></a>
    </div>
    <!-- Promotion Bar -->
    <div class="promotion-bar">
        <p><a style="text-decoration: underline; color:white;" href="{% url 'home:subscribe' %}">Subscribe to our newsletter!</a> - {{ site_promotion }}</p>
    </div>
</header>
<main> 
    <div class="container-home">
        <div class="left-sidebar">
            <div class="card">
                <div style="text-align: center;">
                    <h2>Performance and Interview Opportunities</h2>
                </div>
                <!-- Group info, album info, and album song list content here -->
                <section id="seeking opportunities">
                    <p>
                    Dear All,</p>
                    <p>
                    I hope this message finds you well.</p>
                    <p>
                    My name is Marcus, and I am reaching out on behalf of LabMunkzInk, an underground hip-hop music group known for their unique sound and dynamic performances. We are currently seeking opportunities to expand our reach and connect with a broader audience through interviews, airplay, and live performances.</p>
                    <p>
                    LabMunkzInk has been making waves in the underground scene with their innovative use of loopers, guitars, turntables, and powerful vocal performances. Our music is a blend of old-school hip-hop with a modern twist, and we believe it would resonate well with your audience.</p>
                    <p>
                    We would be honored to collaborate with you for any upcoming events, interviews, or media features that you may have. Below are the links to our social media profiles and music for your consideration:</p>
                    <p>
                    Thank you for taking the time to consider LabMunkzInk for these opportunities. We are excited about the possibility of working together and bringing our music to new listeners.</p>
                    <p>
                    Please feel free to reach out if you have any questions or need further information. We look forward to hearing from you.</p>
                    <p>
                    Best regards,<br />
                    St. Dominic <a href="mailto:musicsoul@live.com" style="color: rgb(101, 101, 101);">musicsoul@live.com</a><br />
                    Dr. Nope <a href="mailto:labmunkzink@gmail.com" style="color: rgb(101, 101, 101);">labmunkzink@gmail.com</a><br />
                    LabMunkzInk.com
                    <br />
                    <div id="video-presentation">
                        <div class="youtube-video">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/j638DFcmCI4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <!-- Expandable Section -->
                        <div class="expandable" id="expandSection">
                            <div style="text-align: left;">
                                <h3 id="m_-5894546713511448945x_x_m_-4132962258120572366yui_3_17_2_1_1489273414182_1101" style="margin: 0px; padding: 0px; color: rgb(32, 32, 32); font-size: 20px; line-height: 25px;">Tucson, Arizona based artist of LabMunkzink&nbsp;releases an amazing visual.</h3>
                            </div>
                            <div class="youtube-video">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/4gCKruPbB5M" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                            <br />
                            <br /> 
                            DJ Captain Antenna featured in&nbsp;Pushing Buttons, Tucson&rsquo;s rapidly expanding hip-hop scene that has grown to include producers from all types of music.
                            <h1 style="color: rgb(0, 0, 0); margin: 0px; padding: 0px; font-size: 26px; line-height: 32.5px;"><span style="font-size: 23px;">About LabMunkzink</span></h1>
                        
                            <p style="margin: 10px 0px; padding: 0px; line-height: 24px;"><strong>LabMunkzink</strong>&nbsp;is an experiment of poetry,&nbsp;rhythm, and art, they vibe off the elements of <g class="gr_ gr_63 gr-alert gr_spell gr_inline_cards gr_disable_anim_appear ContextualSpelling ins-del multiReplace" data-gr-id="63" id="63">HipHop</g>, experimental neo-soul and blues.&nbsp; Hailing from Tucson Arizona This collective of <g class="gr_ gr_76 gr-alert gr_gramm gr_inline_cards gr_disable_anim_appear Grammar only-ins doubleReplace replaceWithoutSep" data-gr-id="76" id="76">artist</g> <g class="gr_ gr_77 gr-alert gr_gramm gr_inline_cards gr_disable_anim_appear Grammar multiReplace" data-gr-id="77" id="77">are</g> skilled in DJing, beat production, songwriting and Live performances.</p>
                        
                            <p style="margin: 10px 0px; padding: 0px; line-height: 24px;">LabMunkzInk Original members are&nbsp; Dr. Nope /Jesus/ Marcus Lovato., St. Dominic aka (DJ) Captain. Antenna&nbsp; (Dominic Capanna), Dj Prado. Inspired by J.S. and the elements of hip-hop.</p>
                        
                            <p style="margin: 10px 0px; padding: 0px; line-height: 24px;">This group also has a mobile studio so wherever inspiration hits to create they are ready on spot.</p>
                        
                            <p style="margin: 10px 0px; padding: 0px; line-height: 24px;">Dominic &ldquo;DJ Captain Antenna&rdquo; Capanna adds his skills as a Dj who still mixes vinyl, a lost art.&nbsp; He also is able to create unique mixes that you will only hear in a DJ Captain Antenna set.&nbsp; &ldquo;I am old school no bells and whistles, I use 2 turntables and a mixer, a microphone and a looper&rdquo; &nbsp; He can use anything to create from goodwill toys to instruments.
                            <br />
                            <br />
                            Press:<br />
                            <br />
                            <strong>Tucson Weekly Review-</strong><br />
                            <a data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://www.tucsonweekly.com/tucson/labmunkzink-almanac/Content?oid%3D3906756&amp;source=gmail&amp;ust=1510026147383000&amp;usg=AFQjCNElryoL_IOJCeZkJqc8rirQW0o00w" href="https://www.tucsonweekly.com/tucson/labmunkzink-almanac/Content?oid=3906756" style="color: rgb(17, 85, 204);">https://www.tucsonweekly.com/t<wbr />ucson/labmunkzink-almanac/Cont<wbr />ent?oid=3906756</a><br />
                            <br />
                            <strong>Subba-Culcha Review-</strong><br />
                            <a data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://goo.gl/mSYrph&amp;source=gmail&amp;ust=1510026147383000&amp;usg=AFQjCNGi8qcBW9pf-drdQV6UX5-5azJc6Q" href="https://goo.gl/mSYrph" style="color: rgb(17, 85, 204);">https://goo.gl/mSYrph</a>
                            </p>
                        </div>
                        <!-- See More Button -->
                        <span class="see-more" onclick="toggleExpand()">See more...</span>
                    </div>
                </section>
            </div>
            <div class="card">
                <div style="text-align: center;">
                <h2>3 Layers of One takes...</h2>
                </div>
                <!-- Song details content here -->
                <section id="video-presentation">
                    <div class="youtube-video">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/rmd8-ucgHRQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <p>
                        You are the last, forgotten broadcast.<br>
                    stars are us.  we have fallen ..<br>
                    eldest ancestor,  shapE shiftER  meteor.<br>
                    laughing  impression...   <br>
                    stereotype nonbeliever <br>
                    fait sealer...  no ribbon ...no ink  <br>
                    EYE never blink.</p>
                    <!-- Expandable Section -->
                    <div class="expandable" id="expandSection">
                        <div style="text-align: left;">
                            <p>
                                all together now <br>
                            time to rethink  <br>
                            reanimate the animator  <br>
                            deflower the armor. <br>
                            jackhammer vernacular<br>
                            massacre  out dated <br>
                            attempted assassination.<br>
                            ZION sun  hold a flam to the  candle.<br>
                            IMPRESSIONABLE  powerful <br>
                            TRANSMITTABLE  <br>
                            for you to belive...</p>
                            <p>
                                Connected The universe is just a verse  <br>
                            disguised has an ADVERSE curse <br>
                            realm is vacant<br>
                            persistent enlightenment  is the reassignment  <br>
                            for you to believe <br>
                            A star skip away from the truth being <br>
                            ANARCHY BLOODTHIRSTY BLASPHEMY <br>
                            COINCIDENCE in <br>
                            consciousness <br>
                            cosmos convey <br>
                            common sense TO conspiracy. <br>
                            HARMONIOUSLY<br>
                            let light commence.</p>
                            <p>
                                "you are the last falling star <br>
                            savior memoir avatar <br>
                            you are the last  of that  dying breed "<br>
                            (for you to believe)... </p>
                            <p>                 
                                you are the last falling star <br>
                            savior memoir avatar <br>
                            you are the last  of that  dying breed <br>
                            (for you to believe)... </p>
                            <p>
                                SLEEP in a canopy forgotten sea stars fall.<br>
                            IMPRISONMENTS OF SCIENCE <br>
                            deface the monument<br>
                            stone-hedge student.<br>
                            light basic pyramid. <br>
                            Rest  when descend</p>
                            <p>
                                forgiving foe and friend<br>
                            Family everlasting .   <br>
                            achieve sun status on <br>
                            different types of planets.<br> 
                            Angel  speak <br>
                            frequent frequencies </p>
                            <p>
                                def to homosapiaen </p>
                            <p>
                                torch is now lit. <br>
                            Set the earth a blaze   <br>
                            born head first scorch  <br>
                            intense biblical portions  <br>
                            and  pardon  the pagans<br>
                            missions in ruins    <br>
                            HOLD  visions of weapons</p>
                            <p> 
                                you are the last falling star <br>
                            savior memoir avatar <br>
                            you are the last  of that  dying breed <br>
                            for you to belive... </p>
                            <p>
                            no love no light kills the seed </p>
                            <p>
                            photo-copied bottle feed centipede  <br>
                            bruised and  bleed with THE rivers of gold<br>
                            strolled through the ice cold <br>
                            bankrolled a thousand  hands hold. <br>
                            The ugliest  soberest centerfold.  <br>
                            undersold  souls with  a defused glow</p>
                            <p>
                            at the point of a broken thesh hold <br>
                            pigeonholed.  ego's turn  right and white <br>
                            doves and crows cry back in black. <br>
                            dirty banjos sing  (sing)         <br>    
                            rusty gob irons. ring (ring)</p>
                            <p>
                            Music on the mountain make any devil retire. <br>
                            mello desperados veto  deprived bravados  <br>
                            sopranos tempt volcanoes with  best blazzing arrows  <br>
                            throwing  roses  at the poses <br>
                            for the dogma and divas <br>
                            devices and vices<br>
                            vodka's and burben's <br>
                            pills and ciggretts  kill the<br>
                            kids and the vets. </p>
                            <p>
                            a reason to live with a reason to write.   <br>
                            holy ghost some damn fight same night<br>
                            good day and good night same damn fight<br>
                            holy ghost</p>
                            <p>LOOK AT ALL THE STARS OUT TONIGHT</p>
                        </div>
                    </div>
                    <!-- See More Button -->
                    <span class="see-more" onclick="toggleExpand()">See more...</span>
                </section>
            </div>
        </div>
        
        <div class="main-content">
            {% for post in posts %}
            <div class="post">
                <div class="post-header">
                    <a href="{% url 'munkz:artist-detail' post.author.id %}"><img src="{{ post.author.profile_pic.url }}" alt="{{ post.author.display_name }}" class="profile-pic"></a>
                    <div class="post-info">
                        <a href="{% url 'munkz:artist-detail' post.author.id %}"><div class="post-author">{{ post.author.display_name }}</div></a>
                        <span class="post-date">{{ post.created_at|date:"M d, Y H:i" }}</span>
                    </div>
                    {% if post.text %}
                        {% with words=post.text.split %}
                            {% if words|length > 10 %}
                                <p class="post-text">
                                    {{ post.text|truncatewords:10 }} 
                                </p></div>
                                <div class="expandable" id="expandSection">   
                                    <p class="post-text">{{ words|slice:"10:"|join:" " }}</p>
                                </div>
                                <span class="see-more" onclick="toggleExpand()">See More...</span>
                            {% else %}
                                <p class="post-text">{{ post.text }}</p></div>
                            {% endif %}
                        {% endwith %}
                    {% endif %}
                

                {% if post.youtube_url %}
                <div class="post-media">
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/{{ post.youtube_url|slice:'-11:' }}" frameborder="0" allowfullscreen></iframe>
                </div>
                {% endif %}
        
                {% if post.images.all %}
                <div class="post-gallery">
                    {% for image in post.images.all %}
                    <img src="{{ image.image.url }}" alt="Post Image">
                    {% endfor %}
                </div>
                {% endif %}
        
                {% if post.video %}
                <video controls>
                    <source src="{{ post.video.video.url }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                {% endif %}
        
                {% if post.audio %}
                <audio controls>
                    <source src="{{ post.audio.audio.url }}" type="audio/mpeg">
                    Your browser does not support the audio tag.
                </audio>
                {% endif %}
        
                <div class="post-actions">
                    <a href="{% url 'posts:post_like' post.id %}" class="like-btn">❤️ {{ post.likes.count }}</a>
                    <a href="" class="comment-btn">💬 {{ post.comments.count }}</a>
                    <a href="{% url 'posts:post_share' post.id %}" class="share-btn">🔄 Share</a>
                </div>
            </div>
            {% empty %}
            <p>No posts yet. Be the first to post!</p>
            {% endfor %}
        </div>
        
        <div class="right-sidebar">
            <div class="card">
                <div class="controls">  
                    <button style="width: 100%; margin: -4px auto;" id="songTitle">{{ doll_hair.0.title}}</button>
                </div>
                <div class="controls">
                    <a class="music-art" href="{% url 'group:album-detail' doll_hair.0.group_album.pk %}"> {{ doll_hair.0.group_album }}</a>  - {{ doll_hair.0.group_album.group }}
                </div>
                <div class="custom-audio-player">
                    <span id="currentTime">0:00</span> <input type="range"  class="custom-range" id="seekBar" value="0" max="100"> <span id="duration">0:00</span>
                </div>
                <div class="music-player">
                    <audio id="audioPlayer" controls hidden>
                        <source id="audioSource" src="{{ doll_hair.0.audio_file.url}}" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                    <div class="controls" style="width:54%; margin: 0 auto;">  
                        <button id="prevBtn"><i class="fas fa-backward"></i></button>
                        <button id="playPauseBtn"><i class="fas fa-play"></i></button>
                        <button id="nextBtn"><i class="fas fa-forward"></i></button>
                    </div>
                    <div class="custom-audio-player">
                        Volume <input type="range"  class="custom-range" id="volumeBar" min="0" max="1" step="0.1" value="1">
                    </div>
                    <div class="playlist">    
                        {% if doll_hair %}
                            <ul id="playlist">
                                {% for song in doll_hair %}
                                <div class="song-list">
                                    <div class="song-list-left">{{ song.track_number }}</div>
                                    <div class="song-list-center">
                                        <li data-src="{{ song.audio_file.url }}" 
                                            songTitle="{{ song.title }}" 
                                            songAlbum="{{ song.group_album }}" 
                                            songArtist="{{ song.group_album.group }}" 
                                            songArt="{{ song.group_album.cover_art.url }}">
                                        {{ song.title }}
                                        </li>
                                    </div>
                                </div>
                                {% endfor %}
                            </ul>
                        {% else %}
                        There are no SONGS to list sorry!
                        {% endif %} 
                        </div>  
                    <div class="music-player-bott">
                        {{ doll_hair.0.group_album.release_date }} <br> {{ doll_hair.0.group_album.duration }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}


