{% extends "home/base.html" %}

{% block title %}<title>wBee - Week in progress tracking</title>{% endblock %}
{% block breadcrumb %}Projects / App Tracking{% endblock %}

{% block content %}
<div class"row">
  <div class="card mb-3">
    <div class="card-header">
      <div class="h4 mb-0 text-primary">App Progress </div>
    </div>
  </div>
  <div class="col-lg-7">
    <div class="h4 mb-0 text-primary">
    The WorkerBee software app manages project information such as the scope of work, material lists, and time tracking. <br>
      <ul>
        <li>Connecting the office team with each field worker then back to management.</li>
        <li>Incorporating mobile, automated alerts, and data reports.</li>
        <li>Workflow streamlined, saving time on any project. For contractors, freelancers, or handy-worker.</li>
        <li>No more fragmented customer info and scpoe of work.</li>
        <li>Project management, task Calendar, tracking material(procurement), to-dos added and comleted, budget management.</li>
        <li>PDF exporting of quotes, invoices, purchase orders, scope of work, transmittal, time sheets </li>
        <li>plus</li>
        <li>Manage project opportunities, job costing, bidding, monitor the sales pipeline. </li>
        <li>HR, time off, benefits, personal calendar (medical reminders).</li>
        <li>Payroll, Invoicing and payment by website.</li>
        <li>top 10 expenses</li>
        <li>Revenue analytics.</li>
        <li>picture and scribble</li>
        <li>digitalizing administrative tasks</li>
      </ul>
    Planned timeline for reaching the objectives and KPI's<br>
    Basic version - mid 2019 - with J2 using some beePlus <br>
    <br>
    init setup cost, under 30 hours <br>
      droplet recurring with add-ons<br>
      server license custom packages<br>
    <br>wBeeplus
    <ul>
      <li>HR</li>
      <li>Payroll</li>
      <li>Project templates</li>
      <li>Project scope and tasks</li>
      <li>plus</li>
      <li>Invoice</li>
      <li>Purchase Orders</li>
      <li>Help Desk</li>
      <li>Email from site</li>
      <li>Quotes easy populated from database</li>
      <li>Enter customer, job site, project management info</li>
      <li>Objectives</li>
      <li>Deliverables & components</li>
      <li>Assumptions</li>
      <li>Timescales</li>
      <li>Confirmation</li>
      <li>cost</li>
      <li>Signatures</li>
      <li>Backup options</li>
      <li>Web presents</li>
      <li>Mobile Assets</li>
      <li>Tool Tracking</li>
    </ul>    
 <br>   
    1. Rolling Assets to Service Company Database: Companies with fleet management technology can gain up-to-the-minute access to vehicle location to better connect and communicate with technicians in those vehicles. You can also monitor how well the vehicle’s functioning so you stay up on repairs and conserve resources to get the most out of each asset.
 <br>
    2. Technician to Technician: Gaining support and building on the expertise of co-workers is especially important in technical industries like field service, but it’s often difficult for technicians working miles apart to communicate. 
 <br>
    When your team is equipped with mobile devices and a field service application, they’re able to stay connected through document sharing and service history visibility. They can also see where other technicians are located and what parts they have so if they do need some help, they know who to call.
 <br>
    3. Scheduler to Technician: Automated dispatching and visual scheduler create a two-way connection between schedulers and technicians. Schedulers can see technicians’ location, availability, skill set, access to parts, etc. so they know the right person to schedule for each job, and technicians get automatic alerts about new work orders and their details directly from the scheduler.
 <br>
    4. Service Data to Managers: The information technicians collect in the field is instantly accessible to service managers planning how they can make better business decisions to improve productivity and profitability. For example, a manager can sign up for alerts when service contracts aren’t making enough money so they can either raise the price or adjust the terms of the contract next time around.
 <br>
    5. Company to Customer: Not only can customers have access to their own service portal to gain insight into the operation of their equipment, service schedules, and other customizable information, they can also sign up for automated alerts which keep them informed of technician ETA, how long the service will take, and other equipment and service information.
 <br>
    6. Customer to Company: While it’s important for technicians to communicate easily with customers, it’s even more important for customers to communicate with technicians. For example, you can use the data from customer survey inspection forms to creating strategies to improve customer satisfaction. According to the Aberdeen Report, “Voice of the Customer:” “the Best-in-Class are 46% more likely to encourage customers to share feedback across multiple touch points.” Alerts, surveys, portals, and mobile allow service companies to do gather and interpret customer feedback.
 <br>
    7. Service Company to 3rd Party Service Providers: It’s common for service companies to contract some of their service work on an as-needed basis. In order to contract successfully, organizations need access to scheduling information like availability and location, as well as the ability to connect through call portals. With advanced scheduling and service software, companies can hire 3rd party providers without worrying about blind spots or waste.
 <br>
 
    </div>
  </div>
</div>
{% endblock %} 
