{% extends "home/base.html" %}

{% block title %}<title>Scope of work update</title> {% endblock %}
{% block breadcrumb %} / <a href="{% url 'scope-of-work' %}">Scope of work</a> / Update scope of work{% endblock %}

{% block content %}

{% if request.user.staff %}
<div class="col-lg-6">
  <div class="card mb-3">
    <div class="card-header" style="background-color:rgb(0, 119, 255);">
      <h3>Update scope of work{% if request.user.admin %}<div class="add_jobsite"><a href="{% url 'delete-scope-of-work' scopeofwork.id %}"> delete </a></div>{% else %}{% endif %}</h3>
    </div></div>
    <form class="form-control" method="post">{% csrf_token %}
      <div class="form-group">
        <div class="form-row" style="margin-top: 10px;"><label for="id_project">&nbsp; <b>Project:</b></label> {{ form.project.errors }}
          <select class="form-control" name="project" required="" id="id_project">
              {% for project in form.project %}
                {{ project }}
              {% endfor %}
          </select>
        </div>
        <div class="form-row" style="margin-top: 10px;">
          <label for="id_area">&nbsp; Area:</label> 
          <input class="form-control" type="text" name="area" id="id_area" maxlength="100" placeholder="area" value="{{ scopeofwork.area }}"></div>
        <div class="form-row" style="margin-top: 10px;">
          <label for="id_system_type">&nbsp; System Type:</label> 
          <input class="form-control" type="text" name="system_type" id="id_system_type" maxlength="100" placeholder="system_type" value="{{ scopeofwork.system_type }}"></div>
        </div>
      <input style="margin-bottom: 10px;" class="btn btn-primary btn-block" type="submit" value="Update" />
    </form>
  </div>
</div>
{% else %}
Your not allowed to view this page..
{% endif %} 
{% endblock %} 
