{% extends "home/base.html" %}

{% block title %}<title>group Creation</title> {% endblock %}
{% block breadcrumb %} / <a href="{% url 'group' %}">group</a> / Create a new group{% endblock %}

{% block content %}

{% if request.user.staff %}
<div class="row">
  <div class="col-lg-6">
    <div class="card mb-3">
      <div class="card-header" style="background-color:rgb(10, 212, 26);">
        <h3>Create a new group</h3> 
      </div>
      <form class="form-control" method="post">{% csrf_token %}
        <div class="form-group">
          <div class="form-row">
            <label for="id_group_name">&nbsp; <b>Group name:</b></label>
            <input class="form-control" type="text" name="group_name" required="" id="id_group_name" maxlength="100" placeholder="group name" value="{{ group.group_name }}"></div>
          <div class="form-row" style="margin-top: 10px;">
            <label for="id_group_url">&nbsp; Group url:</label> 
            <input class="form-control" type="text" name="group_url" id="id_group_url" maxlength="100" placeholder="web page http://" value="{{ group.group_url }}"></div>
          <div class="form-row" style="margin-top: 10px;">
            <label for="id_first_name">&nbsp; <b>Billing Contact Name:</b></label></div>
          <div class="form-row" style="margin-top: 10px;">
            <input class="form-control" style="width:50%;" type="text" name="first_name" required="" id="id_first_name" maxlength="100" placeholder="First name" value="{{ group.first_name }}">
            <input class="form-control" style="width:50%;" type="text" name="last_name" id="id_last_name" maxlength="100" placeholder="Last name" value="{{ group.last_name }}"></div>
          <div class="form-row" style="margin-top: 10px;">
            <label for="id_contact_email">&nbsp; Contact email:</label> 
            <input class="form-control" type="email" name="contact_email" id="id_contact_email" maxlength="254" placeholder="them@email.net" value="{{ group.contact_email }}"></div>
          <div class="form-row" style="margin-top: 10px;">
            <label for="id_contact_phone">&nbsp; <b>Contact phone number:</b></label> 
            <input class="form-control" type="text" name="contact_phone" required="" id="id_contact_phone" maxlength="17" placeholder="(###) ###-####" value="{{ group.contact_phone }}"></div>
          <div class="form-row" style="margin-top: 10px;">
            <label for="id_billing_top_address">&nbsp; Billing address:</label> 
            <input class="form-control" type="text" name="billing_top_address" id="id_billing_top_address" maxlength="100" placeholder="Attn: John Doe" value="{{ group.billing_top_address }}"></div>
          <div class="form-row" style="margin-top: 10px;">
            <input class="form-control" style="width:50%;" type="text" name="billing_address" id="id_billing_address" maxlength="100" placeholder="Street address" value="{{ group.billing_address }}">
            <input class="form-control" style="width:50%;" type="text" name="billing_address_city" id="id_billing_address_city" maxlength="100" placeholder="City" value="{{ group.billing_address_city }}"></div>
          <div class="form-row" style="margin-top: 10px;">
            <input class="form-control" style="width:50%;" type="text" name="billing_address_state" id="id_billing_address_state" maxlength="100" placeholder="State" value="{{ group.billing_address_state }}">
            <input class="form-control" style="width:50%;" type="text" name="billing_address_zipcode" id="id_billing_address_zipcode" maxlength="100" placeholder="Postal/ Zip code" value="{{ group.billing_address_zipcode }}"></div>
          <div class="form-row" style="margin-top: 10px;">
            <label for="id_summary">&nbsp; <b>Summary:</b></label> 
            <textarea class="form-control" name="summary" cols="90%" required="" id="id_summary" rows="10" maxlength="1000" placeholder="Enter a brief description of the Building or Orginization">{{group.summary}}</textarea></div>
          <div class="form-row" style="margin-top: 10px;">
            <label for="id_date_of_contact">&nbsp; <b>Date of contact:</b></label> 
            <input class="form-control" type="date" name="date_of_contact" required="" id="id_date_of_contact" placeholder="Date of Contact" value="{{ group.date_of_contact|date:'Y-m-d' }}"></div>
          <div class="form-row" style="margin-top: 10px;">
            <label for="id_date_of_contract">&nbsp; Date of contract:</label> 
            <input class="form-control" type="date" name="date_of_contract" id="id_date_of_contract" placeholder="Date of Contract" value="{{ group.date_of_contract|date:'Y-m-d' }}"></div>
          </div>
        <input style="margin-bottom: 10px;" class="btn btn-primary btn-block" type="submit" value="Save" />
      </form>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card mb-3">
      <div class="card-header" style="background-color:rgb(0, 119, 255);">
        <h3>Whats the Next step?<br>Create a job site!</h3> 
      </div> 
    </div>
  </div>
</div>
{% else %}
Your not allowed to view this page..
{% endif %} 
{% endblock %} 
