{% extends "home/base.html" %}

{% block title %}<title>Hardware update</title> {% endblock %}
{% block breadcrumb %} / Hardware / Update hardware{% endblock %}

{% block content %}

{% if request.user.staff %}
<div class="col-lg-6">
  <div class="card mb-3">
    <div class="card-header" style="background-color:rgb(0, 119, 255);">
      <h3>Update Hardware{% if request.user.admin %}<div class="add_jobsite"><a href="{% url 'delete-project-hardware' hardware.id %}"> delete </a></div>{% else %}{% endif %}</h3>
    </div>
    </div>
    <form class="form-control" method="post">{% csrf_token %}
        <div class="form-group">
          <div class="form-row" style="margin-top: 10px;"><label for="id_project">&nbsp; <b>Project:</b></label> {{ form.project.errors }}
            <select class="form-control" name="project" required="" id="id_project">
                {% for project in form.project   %}
                  {{ project }}
                {% endfor %}
            </select>
          </div>
          <div class="form-row" style="margin-top: 10px;"><label for="id_hardware">&nbsp; <b>Hardware:</b></label> {{ form.hardware.errors }}
            <select class="form-control" name="hardware" required="" id="id_hardware">
                {% for hardware in form.hardware   %}
                  {{ hardware }}
                {% endfor %}
            </select>
          </div>
          <div class="form-row" style="margin-top: 10px;"><label for="id_task">&nbsp; <b>Task:</b></label> {{ form.task.errors }}
            <select class="form-control" name="task" required="" id="id_task">
                {% for task in form.task %}
                  {{ task }}
                {% endfor %}
            </select>
          </div>
          <hr>
          <div class="form-row">
            <div class="col" style="margin-top: 10px;">
              <label for="id_purchased_date">&nbsp;Purchase date:</label> {{ form.purchased_date.errors }}
              <input class="form-control" type="date" name="purchased_date" id="id_purchased_date" value="{{ hardware.purchased_date|date:"Y-m-d" }}" aria-describedby="nameHelp">
            </div>
            <div class="col" style="margin-top: 10px;">
              <label for="id_onsite_date">&nbsp; Onsite date:</label> {{ form.onsite_date.errors }}
              <input class="form-control" type="date" name="onsite_date" id="id_onsite_date" value="{{ hardware.onsite_date|date:"Y-m-d" }}" aria-describedby="nameHelp">
            </div>
            <div class="col" style="margin-top: 10px;">
              <label for="id_installed_date">&nbsp; Installed date:</label> {{ form.installed_date.errors }}
              <input class="form-control" type="date" name="installed_date" id="id_installed_date" value="{{ hardware.installed_date|date:"Y-m-d" }}" aria-describedby="nameHelp">
            </div>
            </div>
            <div class="form-row" style="margin-top: 10px;">
              <label for="id_qty">&nbsp; Quantity:</label> 
              <input class="form-control" type="number" name="qty" id="id_qty" value="{{ hardware.qty }}" aria-describedby="nameHelp">
            </div>
            <div class="form-row" style="margin-top: 10px;">
              <label for="id_cost">&nbsp; Cost:</label>
              <input class="form-control" type="number" name="cost" id="id_cost" step="0.01" value="{{ hardware.cost }}" aria-describedby="nameHelp">
            </div>
            <div class="form-row" style="margin-top: 10px;">
              <label for="id_hardware_status">&nbsp; Hardware Status:</label> 
            <select class="form-control" name="hardware_status" required="" id="id_hardware_status">
                {% for hardware_status in form.hardware_status %}
                  {{ hardware_status }}
                {% endfor %}
            </select>
            </div>
          </div>
      <input style="margin-bottom: 10px;" class="btn btn-primary btn-block" type="submit" value="Update" />
    </form>
  </div>
</div>
{% else %}
Your not allowed to view this page..
{% endif %} 
{% endblock %} 
