{% extends "home/base.html" %}

{% block title %}<title>Delete Software</title> {% endblock %}
{% block breadcrumb %} / Software / Delete Software{% endblock %}

{% block content %}

{% if request.user.admin %}
<div class="card mb-3">
  <div class="card-header" style="background-color:rgb(0, 119, 255);">
    <h3>Delete Software</h3> 
  </div>
  <form class="form-control" method="post">{% csrf_token %}
    <p>Are you sure you want to delete "{{ object }}"?</p>
    <input style="margin-bottom: 10px;" class="btn btn-primary btn-block" type="submit" value="Confirm">
  </form>
</div>
{% else %}
Your not allowed to view this page..
{% endif %} 
{% endblock %} 
