{% extends "home/base.html" %}

{% block content %}
<div class="container">
    <div class="card-login">
        <div class="edit-profile-container">
            <h2>Edit Profile</h2>
            
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}

                <button type="submit" class="btn btn-success">Save Changes</button>
            </form>

            <a href="{% url 'munkz:artist-profile' artist.id %}" class="btn btn-secondary">Cancel</a>
        </div>
    </div>
</div>
{% endblock %}
