{% extends "base.html" %}
{% load static %}
{% block title %}<title>Staff List</title>{% endblock %}
{% block styler %}<link href="{% static 'home/vendor/datatables/dataTables.bootstrap4.css' %}" rel="stylesheet" type="text/css"> {% endblock %}
{% block breadcrumb %} / <a href="{% url 'worker-list' %}">Staff</a> / list{% endblock %}

{% block content %}
<div class="table-responsive">
  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
      <tr>
        <th style="font-weight: inherit;min-width:140px;">Name</th>
        <th style="font-weight: inherit;min-width:100px;">Phone #</th>
        <th style="font-weight: inherit;">Email</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th style="font-weight: inherit;">Name</th>
        <th style="font-weight: inherit;">Phone #</th>
        <th style="font-weight: inherit;">Email</th>
      </tr>
    </tfoot>
    <tbody>
    {% if worker_list %}
      {% for worker in worker_list %}
          <tr>
            <td><a style="color:black;font-weight:bold;" href="{{ worker.get_absolute_url }}">{{ worker.first_name }} {{ worker.last_name }}</a> </td>
            <td><a style="color:black;font-weight:bold;" href="tel:{{ worker.phone_number }}">{{ worker.phone_number }}</a> </td>
            <td><a style="color:black;font-weight:bold;" href="{{ worker.get_absolute_url }}">{{ worker.email }}</a> </td>
          </tr>
      {% endfor %}
      {% else %}
      <tr>
          <td>There are no  </td>
          <td>clients </td>
          <td>to list sorry!  </td>
      </tr>
    {% endif %} 
    </tbody>
  </table>
</div>
{% endblock %}

{% block scripter %} 
<script src="{% static 'home/js/sb-admin-datatables.min.js' %}"></script>
<script src="{% static 'home/vendor/datatables/jquery.dataTables.js' %}"></script>
<script src="{% static 'home/vendor/datatables/dataTables.bootstrap4.js' %}"></script> 
{% endblock %}