{% extends "todo/base.html" %}

{% block title %}<title>{{ list_title }} Todo Lists</title>{% endblock %}

{% block breadcrumb %} / <a href="{% url 'jobsite-list' %}">Job Site</a> / <a href="{% url 'project-list' %}">Project</a> / To Do List{% endblock %}

{% block content %}
  <h1>Todo Lists</h1>

  <p>{{ task_count }} tasks in {{ list_count }} list{{ list_count|pluralize }}</p>

  {% regroup lists by group as section_list %}
  <div class="row">
  {% for group in section_list %}
  <div class="col-lg-4">
    <div class="card mb-3">
    <h3>Group: {{ group.grouper }}</h3>
    <ul class="list-group mb-4">
      {% for task in group.list %}
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="{{ task.scope.project.get_absolute_url }}">{{ task.scope.project.job_num }}</a> - <a href="{% url 'todo:list_detail' task.id task.slug %}">{{ task.name|truncatechars:35 }}</a> 
        <span class="badge badge-primary badge-pill">{{ task.task_set.count }}</span>
      </li>
      {% endfor %}
    </ul>
    </div>
  </div>
  {% endfor %}
  </div>

 

{% endblock %}