{% extends "home/base.html" %}

{% block title %}<title>Create Time Card</title>{% endblock %}
{% block breadcrumb %} / <a href="{% url 'timecard' %}">Time card</a>{% endblock %}

{% block content %}{% if request.user.staff %}
<div class="col-lg-6">
  <div class="card mb-3">
    <div class="card-header" style="background-color:rgb(0, 119, 255);">
      <h3>Update Time Card
      </h3>     
    </div>
    <form action="{% url "timecardup" %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file"
                title="Upload excel file"
                name="excel_file"
                style="border: 1px solid black; padding: 5px;"
                required="required">
        <p>
        <input type="submit"
                value="Upload"
                style="border: 1px solid green; padding:5px; border-radius: 2px; cursor: pointer;">
    </form>
    <p></p>
    <hr>
        {% for row in excel_data %}
            {% for cell in row %}
                {{ cell }}&nbsp;&nbsp;
            {% endfor %}
            <br>
        {% endfor %}
  </div>
</div>
{% endif %} 
{% endblock %} 

{% block scripter %}  
{% endblock %} 
