{% extends "home/base.html" %}

{% block title %}<title>Time card</title>{% endblock %}
{% block breadcrumb %} / <a href="{% url 'timecard' %}">Time card</a> / TODAY IS {{ tadai }}
  {% if request.user.staff %} / <a href="{% url 'create-timecard' %}">add a new day</a>{% endif %}
{% endblock %}

{% block content %}
<a href="{% url 'timecard_archive_week' year week %}">See Previous Week</a>

<div >
  <div style="font-weight:bold;" class="table-responsive">  
  <table class="table table-bordered" width="100%" cellspacing="0">
    <thead>
      <tr class="tabelheader">
        <th style="font-weight: inherit;">Date </th>
        <th style="font-weight: inherit;">Description </th>
        <th style="font-weight: inherit;">Customer </th>
        <th style="font-weight: inherit;">Start </th>
        <th style="font-weight: inherit;">Stop </th>
        <th style="font-weight: inherit;">Start </th>
        <th style="font-weight: inherit;">Stop </th>
        <th style="font-weight: inherit;">Reg </th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th style="font-weight: inherit;"> </th>
        <th style="font-weight: inherit;"> </th>
        <th style="font-weight: inherit;"> </th>
        <th style="font-weight: inherit;"> </th>
        <th style="font-weight: inherit;">OT: </th>
        <th style="font-weight: inherit;">{{over_time|floatformat}} hours </th>
        <th style="font-weight: inherit;">Week Total </th>
        <th style="font-weight: inherit;">{{overall_hours|floatformat}} hours </th>
      </tr>
    </tfoot>
    <tbody> 
      {% if this_week %}
        {% for timecard in this_week %}
          <tr class="{% cycle 'odd' 'even' %}">
            <td style="min-width:64px;font-weight:bold;"><a style="color:black;font-weight:bold;" href="{% url 'update-timecard' timecard.id %}">{{ timecard.date|date:"m/d"}}</a> </td>
            <td style="min-width:80px;font-weight:bold;"><a style="color:black;font-weight:bold;" href="#">{{ timecard.project }}</a> </td>
            <td style="min-width:92px;font-weight:bold;"><a style="color:black;font-weight:bold;" href="#">{{ timecard.project.jobsite.job_client }}</a> </td>
            <td style="min-width:64px;font-weight:bold;"><a style="color:black;" href="#">{{ timecard.site_time }}</a> </td>
            <td style="min-width:64px;font-weight:bold;"><a style="color:black;" href="#">{{ timecard.site_end_time }}</a> </td>
            <td style="min-width:64px;font-weight:bold;"><a style="color:black;" href="#">{{ timecard.site_time_after }}</a> </td>
            <td style="min-width:64px;font-weight:bold;"><a style="color:black;" href="#">{{ timecard.site_end_time_after }}</a> </td>
            <td style="min-width:64px;font-weight:bold;"><a style="color:black;" href="#">{{ timecard.day_total }}</a> </td>
          </tr>
        {%  endfor %}
      {% else %}
          <tr>
            <td>fill </td>
            <td>out </td>
            <td>your </td>
            <td>time card </td>
            <td>... </td>
            <td>... </td>
            <td>... </td>
            <td>... </td>
          </tr>
      {% endif %} 
    </tbody>
  </table>
</div>
{% endblock %} 
