{% extends "home/base.html" %}
{% load scheduletags i18n %}

{% block title %}<title>Calendar Day</title>{% endblock %}
{% block breadcrumb %} / {{ calendar.name }}{% endblock %}


{% block content %}

{% include "schedule/_dialogs.html" %}
<div class="row row-centered">
 <div class="col">
    <a class="btn btn-primary gradient" href="{% url "schedule:day_calendar" calendar.slug %}">
      {% trans "Today" %}
    </a>
  <a class="btn btn-primary gradient" href="{% url "week_calendar" calendar.slug %}{% querystring_for_date period.start 3 %}">
    {% trans "Week" %}
  </a>
 </div>
 <div class="col">
  {% prevnext "schedule:day_calendar" calendar period "l, F d, Y" %}
 </div>
 <div class="col">
  <div style="float: right;">
  <a class="btn btn-primary gradient" href="{% url "month_calendar" calendar.slug %}{% querystring_for_date period.start 2 %}">
    {% trans "Month" %}
  </a>
  <a class="btn btn-primary gradient" href="{% url "year_calendar" calendar.slug %}{% querystring_for_date period.start 1 %}">
    {% trans "Year" %}
  </a></div>
 </div>
</div>
<div class="row row-centered">
 <div class="col">
  {% daily_table period %}
 </div>
</div>

{% endblock %}
